<!DOCTYPE html>
<html lang="es">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Boda Adri y Celia</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'boda/site.css' %}" />
        <link href='https://fonts.googleapis.com/css?family=Allura' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Playfair Display' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Libre Baskerville' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    </head>
    <body style="font-family: Inter;">
        <!-- <img src="/static/boda/Principal.jpg" margin="0pt" position="center" /> -->
        <section class="seccion1">
            <center>
                <h1 style="font-size: 48pt; font-family: Allura; padding-top: 80pt; margin-top: 0pt;
                        color: whitesmoke; letter-spacing: 20pt;">
                    Adrián & Celia
                </h1>
                <img src="/static/boda/Separador.png", width="17%", height="9pt">
                <p style="font-size: 24pt; font-family: Playfair Display; 
                        color: whitesmoke; letter-spacing: 7pt;">¡Nos casamos!</p>
                <p style="font-size: 28pt; font-family: Libre Baskerville; padding-top: 12pt;
                        color: whitesmoke; letter-spacing: 3pt;">12 de septiembre, 2026</p>
                <p style="font-size: 24pt; color: whitesmoke; ">Finca La Ermita de Los Llanos</p>
                <p style="font-size: 18pt; color: whitesmoke; letter-spacing: 1pt;">Arenas de San Pedro, Ávila</p>
                <p style="font-size: 13pt; font-family: Montserrat;  padding-top: 2%;
                        color: whitesmoke;">Apúntate</p>
                <img src="/static/boda/FlechaAbajo.png", width="30pt", height="45pt", padding-top="0">
            </center>
        </section>
        <section style="margin: 10pt; display: grid; grid-template-columns: repeat(3, 33%); 
                padding-top: 40pt; align-content: start;">
            <h1></h1>
            <div style="grid-column: 1; align-content: center; text-align: center;">
                <img src="/static/boda/IconoCalendario.png" width="60px">
                <p style="font-size: 14pt; font-weight: bold;">Fecha</p>
                <p style="font-size: 12pt;">12 de septiembre, 2026</p>
            </div>
            <div style="grid-column: 2; align-content: center; text-align: center;">
                <img src="/static/boda/Ubicacion.png" width="60px">
                <p style="font-size: 14pt; font-weight: bold;">Lugar</p>
                <p style="font-size: 10pt;">
                    <span style="font-size: 12pt;">Ermita de Los Llanos</span><br>
                    Arenas de San Pedro, Ávila
                </p>
            </div>
            <div style="grid-column: 3; align-content: center; text-align: center;">
                <img src="/static/boda/IconoHora.png" width="60px">
                <p style="font-size: 14pt; font-weight: bold;">Hora</p>
                <p style="font-size: 12pt;">17:30h</p>
            </div>
        </section>
        <section style="display: flex; gap: 80pt; flex-wrap: nowrap;
                align-content: start; margin-left: 15%; margin-right: 24%;">
            <h1></h1>
            <button name="Direccion" id="Direccion" style="flex: 1 1 200px; width: 60%; align-self: center; 
                    text-align: center; height: 27pt; border-radius: 12pt; border: none; 
                    background-color: rgb(0, 96, 53); color: whitesmoke; font-size: 12pt; 
                    font-weight: bold; background-image: url(/static/boda/IconoUbicacion.png);
                    background-position: left; background-repeat: no-repeat; background-attachment: local;
                    background-position: 3% 50%; background-size: 20pt 75%;"
                    onmouseover="setColor('Direccion', '#004C2A')" 
                    onmouseout="setColor('Direccion', '#006035')"
                    onclick="redirigirMaps('Direccion')">
                &emsp;Ver en Google Maps
            </button>
            <button name="Evento" id="calendario" style="flex: 1 1 200px; width: 60%; align-self: center;
                    text-align: center; height: 27pt; border-radius: 12pt; border: none; 
                    background-color: rgb(0, 96, 53); color: whitesmoke; font-size: 12pt; 
                    font-weight: bold; background-image: url(/static/boda/IconoCalendarioVacío.png);
                    background-position: left; background-repeat: no-repeat; background-attachment: local;
                    background-position: 3% 50%; background-size: 20pt 75%;"
                    onmouseover="setColor('calendario', '#004C2A')" 
                    onmouseout="setColor('calendario', '#006035')"
                    onclick="descargarEvento('calendario')">
                &emsp;Añadir al calendario
            </button>
        </section>
        <p style="text-align: center; font-size: 10pt; padding-bottom: 40pt;">
            Habrá servicio de autobus privado de ida y vuelta desde Madrid el día de la celebración
        </p>
        <section class="seccion2" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
            <center>
                <div style="padding-top: 7%;">
                    <img src="/static/boda/IconoMail.png" width="80px">
                </div>
                <h1 style="font-size: 48pt; padding-top: 1%; margin-top: 0pt;
                        color: whitesmoke; font-weight: 200; letter-spacing: 4pt; font-family: serif;
                        margin-bottom: 0pt;">
                    Responde a la Invitación
                </h1>
                <img src="/static/boda/Separador2.png", width="17%", height="1pt">
                <!-- font-size: 28pt; color: whitesmoke; letter-spacing: 3pt; -->
                <p style="text-align: center; font-size: 20pt; color: whitesmoke; letter-spacing: 2pt; font-weight: 100;">
                    Por favor, confirma tu asistencia o comunícanos si no podrás acompañarnos<br />
                    antes del <span style="font-weight: 900;">1 de julio de 2026</span> para que podamos preparar todo con cariño.
                </p>
                <button name="RSPV" id="rspv" style="width: 170pt; align-self: center; text-align: center; height: 38pt; 
                    border-radius: 12pt; border: none; background-color: rgb(0, 96, 53); color: whitesmoke; font-size: 12pt; 
                    font-weight: bold; margin-top: 2%; font-family: Inter; margin-bottom: 1%;"
                    onmouseover="setColor('rspv', '#004C2A')" 
                    onmouseout="setColor('rspv', '#006035')"
                    onclick="redirigirForm('rspv')">
                    Responder a la Invitación
                </button>
                <p style="text-align: center; font-size: 12pt; color: rgb(210, 210, 210); font-weight: 50; font-family: Inter;">
                    Si tienes alguna pregunta, no dudes en contactarnos:
                </p>
                <p style="text-align: center; font-size: 12pt; color: whitesmoke; font-family: Inter; padding-bottom: 6%;">
                    adrianycelia2026@gmail.com
                </p>
            </center>
        </section>
        <section style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
            <center>
                <div style="padding-top: 7%;">
                    <img src="/static/boda/IconoRegalo.png" width="80px">
                </div>
                <h1 style="font-size: 48pt; padding-top: 1%; margin-top: 0pt; font-weight: 100; letter-spacing: 4pt; 
                        font-family: serif; margin-bottom: 0pt;">
                    Regalos
                </h1>
                <img src="/static/boda/Separador3.png", width="17%", height="1pt">
                <!-- font-size: 28pt; color: whitesmoke; letter-spacing: 3pt; -->
                <p style="text-align: center; font-size: 18pt; letter-spacing: 2pt; font-weight: 50;
                        color: rgb(120, 120, 120);">
                    Gracias por acompañarnos en este día tan especial. Si además quieres tener un detalle<br>
                    con nosotros, puedes elegir entre una transferencia o pedirnos que te<br>
                    compartamos la lista de bodas.
                </p>
                <div style="margin: 10pt; display: flex; flex-wrap: nowrap; padding-top: 20pt; align-content: start;
                margin-left:40%; gap: 10pt;">
                    <p style="font-family: Inter; font-style: italic; color: rgb(100, 100, 100); align-self: flex-end;">
                        ES27 0081 7305 1900 0258 8869
                    </p>
                    <button style="width: 22pt; height: 24pt; align-content: center; align-items: center; align-self: center;
                            border-radius: 12pt; border: 0pt; color: rgb(213, 231, 228);"
                        onclick="copiarTexto('ES27 0081 7305 1900 0258 8869')">
                        <img src="/static/boda/Copiar.png" style="width: 15pt; align-self: flex-start; padding-top: 2pt;" 
                            id="img_copia">
                    </button>
                </div>
                <input type="text" value="ES27 0081 7305 1900 0258 8869" id="IBAN" style="visibility: hidden;">
                <!-- 
            <button name="Direccion" id="Direccion" style="flex: 1 1 200px; width: 60%; align-self: center; 
                    text-align: center; height: 27pt; border-radius: 12pt; border: none; 
                    background-color: rgb(0, 96, 53); color: whitesmoke; font-size: 12pt; 
                    font-weight: bold; background-image: url(/static/boda/IconoUbicacion.png);
                    background-position: left; background-repeat: no-repeat; background-attachment: local;
                    background-position: 3% 50%; background-size: 20pt 75%;" -->
            </center>
        </section>
        <section style="height: 300px; background-color: rgb(93, 43, 15); color: whitesmoke; text-align: center;">
            <h1 style="margin: 12pt; padding-top: 30pt; font-family: Montserrat; padding-bottom: 12pt;">Adrián & Celia</h1>
            <p>12 de septiembre, 2026</p>
            <p>La Ermita de los Llanos, Arenas de San Pedro</p>
            <p style="padding-top: 20pt; color: rgb(210, 210, 210); font-size: 9pt;">© 2026 Adrián & Celia</p>
        </section>
    </body>

    <script>
    function setColor(btn, color){
        var property = document.getElementById(btn);
        property.style.backgroundColor = color
    }

    function redirigirMaps(btn){
        setColor(btn,"#002E19")
        setTimeout(() => {setColor(btn,"#006035");}, 200)
        window.open("https://maps.app.goo.gl/qNmrgQeFCyVfvx5J9")
    }

    function descargarEvento(btn){
        setColor(btn,"#002E19")
        setTimeout(() => {setColor(btn,"#006035");}, 200)
        // location.href = "evento"
        window.open("https://calendar.google.com/calendar/render?action=TEMPLATE&text=Boda+Adrián+y+Celia&dates=20260912T153000Z/20260912T230000Z&details=Boda+de+Adrián+y+Celia&location=La+Ermita+de+Los+Llanos,+Arenas+de+San+Pedro,+Ávila&sf=true&output=xml")
    }

    function redirigirForm(btn){
        setColor(btn,"#002E19")
        setTimeout(() => {setColor(btn,"#006035");}, 200)
        location.href = "/rsvp"
    }

    function copiarTexto(texto){
        var numero = document.getElementById("IBAN")
        numero.select();
        document.execCommand('copy');
        alert("Número de cuenta copiado");

        /* try {
            if (navigator.clipboard && navigator.clipboard.writeText) {
                navigator.clipboard.writeText(numero).then(() => {
                    alert("Número de cuenta copiado")
                });
            } else {
                const textArea = document.createElement("textarea");
                textArea.value = accountNumber;
                textArea.style.position = "fixed";
                textArea.style.left = "-999999px";
                document.body.appendChild(textArea);
                textArea.select();
                try {
                    document.execCommand("copy");
                    setCopied(true);
                    toast.success("Número de cuenta copiado");
                    setTimeout(() => setCopied(false), 2000);
                } catch (err) {
                    console.error("Fallback copy failed:", err);
                    alert("No se pudo copiar el número de cuenta");
                } finally {
                    document.body.removeChild(textArea);
                }
            }
        } catch (err) {
            console.error("Failed to copy:", err);
            alert("No se pudo copiar el número de cuenta");
        } */
    }
    </script>
</html>